<div class="container">
  <div class="top-container">
    <input
      class="search-input"
      placeholder="Search..."
      [(ngModel)]="searchValue"
    />
    <button class="add-btn" (click)="addProduct()">Agregar Producto</button>
  </div>
  <div class="table-container">
    <table class="table">
      <thead class="table-header">
        <tr class="row">
          <th class="first-child">Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let product of products | filterProducts : searchValue : pagination
          "
          class="row"
        >
          <td class="image-container">
            <img [src]="product.logo" [alt]="product.name" class="image" />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | date : 'dd/MM/yyyy' }}</td>
          <td>{{ product.date_revision | date : 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="bottom-table">
      <span class="results" id="results">{{ products.length }} Resultados</span>
      <select
        [(ngModel)]="pagination"
        class="pagination-select"
        id="pagination-select"
      >
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="20">20</option>
      </select>
    </div>
  </div>
</div>
